div { color: #FF0000; }
div { color: black; }
div { width: 99%;}
* { min-width: 45em; }
h1, h2 > a > p, h3 { color: none; }
div.class { color: blue; }
div#id { color: green; }
.class#id { color: purple; }
.one.two.three { color: grey; }
a:hover, a:link { color: #999; }